<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="post">
        <label for="email">Email</label><br>
        <input type="email" value="Email" name="email" required><br>
        <label for="password">Password</label><br>
        <input type="password" value="Password" name="password" required><br>
        <input type="submit" href="/profile">
    </form>   
</body>
</html>